<h1>{{ product.name }}</h1>
{% if product.image %}
    <img src="{{ product.image.url }}" width="250" alt="{{ product.name }}">
{% endif %}
<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Prix :</strong> {{ product.price }} €</p>
<p><strong>Stock :</strong> {{ product.stock }}</p>
<p><strong>Catégorie :</strong> <a href="{% url 'category_detail' product.category.id %}">{{ product.category.name }}</a></p>
<a href="{% url 'product_list' %}">Retour à la liste des produits</a>